Programming for Data Analysis Project 2019

The problem statement is to synthesise simulate a data set.  I looked up some definitions of syntheise to make sure I understood the requirements of the project.  It is a method that uses statistical techniques to combine results from different studies and obtain a quantitative estimate of the overall effect of a particular intervention or variable on a defined outcome—i.e., it is a statistical process for pooling data from many clinical trials to glean a clear answer. https://medical-dictionary.thefreedictionary.com/data+synthesis.  But there can be some cons.  Bias, potential for analytical sloppiness, lack of understanding of basic issues, failure to consider major covariates, and overstating the strengths and precision of the results from Segen's Medical Dictionary.

When we were given the problem statement I decided to look into the National Car Testing statics.  My own one had recently had to under go one and while it failed the first time it passed the retest.  I started to wonder that if there was any correlation between the car year of manufacture, model and pass rate.  As the 2019 year data is incomplete I chose 2018 instead.  My car had also done the nct in 2018 and once again it had failed the original test but passed the retest.

Compulsory car testing was introduced in Ireland in 2000 as part of an EU Directive that makes car testing compulsory in all member states. It is an offence to drive a car without displaying a National Car Testing Service disc, if the car is liable for testing. Offenders will face Class C fines, as well as penalty points.

The test is called the National Car Test and is carried out on behalf of the Government by the National Car Testing Service Ltd (NCTS). The test is aimed at improving road safety and enhancing environmental protection. 

If a vehicle is over 4 years old it has to take a test.  From the vehicle being 4 years to under 10 years old it has to be tested every 2 years.  Once the vehicle gets to 10 years but less than 30, it then has to be tested every year.  Between 30 and 39 years old the vehicle must be tested every 2 years again and it can not be used for commercial purposes.  That would apply mostly to vintage cars that would be mostly for show only.  There are exemptions to the nct also.  Vehicles registered prior to 1st January 1980 so not need to be tested, cars permanently based on islands that are not connected to the mainland do not require testing and motor vehicles belonging to the Armed Forces, the Garda Síochána or the Fire Service are not subject to mandatory testing.

https://www.citizensinformation.ie/en/travel_and_recreation/vehicle_standards/national_car_test.html

The National Car Test is separate to the CVRT (Commercial Vehicle Roadworthiness Test), which was formerly known as DoE (Department of Environment) Test.  The Commercial Vehicle Roadworthiness Test (CVRT) is a roadworthiness test for all commercial vehicles, buses with more than eight passenger seats and ambulances, all over one year old.  There are two types of commercial vehicle tests, one for Light Commercial Vehicles (LCVs) and one for Heavy Commercial Vehicles (HCVs).
 
The LCV test is for:
all small goods vehicles with a gross vehicle weight (GVW) of 3,500 kg or less

The HCV test covers all other commercial vehicles including:
goods vehicles over 3,500 kg GVW
goods trailers over 3,500 kg GVW
buses with more than eight passenger seats
ambulances

https://www.cvrt.ie/en/About-CVRT/Pages/What%20is%20the%20CVRT.aspx

Initially, I began by looking at the the nct.ie to see what information was available.  There was a section on statistics which had the pass, fail refusal and fail dangerous rated for 2018.  https://www.ncts.ie/1127
This was interesting but I wanted to see if a particular make/model out performed the rest of them or were they all broadly similar.  I then looked into the central statistics office statbank which not only provided the figures of pass/fail rates, it also broke them down by each centre. https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/Define.asp?maintable=ROA10&PLanguage=0  

This was very interesting but still not what I was looking for.  I then went to the RSA website which had the information I was looking for. https://www.rsa.ie/RSA/Your-Vehicle/Your-Vehicle-/NCT-Statistics-/

https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/saveselections.asp Female and male full and provisional licences

Before I even begin to look at the data there are some assumptions I have.  It will be interesting to see how it will turn out.  First, I expect that the newer cars will have a much higher pass rate than older ones.  I expect about half to fail the first time but the majority then pass the second time.  I expect of the ones which fail initially about 10% will be listed as fail dangerous.  This is based soley on my own observations from takling to my family and friends over the last few years.

Pass Rates

From the information provided by the RSA for 2018 over all there was approximately a 49% pass rate, 50% fail and 1% incomplete. Within all years of Hyundai Santa Fe's it changed to an approximate 36% pass, 63% fail and 1% incomplete rate. This information is available from https://www.rsa.ie/RSA/Your-Vehicle/Your-Vehicle-/NCT-Statistics-/

Fuel Type

There are two types of fuel which concern this dataset. Diesel and petrol.  I will have to add this variable as it is not included.  I again used statbank and got the breakdown for them. The information doesn not exist prior to 2010 and I only go up to 2015 for the nct so that is all I will import.  I plan to get a rough idea on the breakdown and apply it to my database.  I sourced this information from https://statbank.cso.ie/px/pxeirestat/statire/SelectVarVal/saveselections.asp

Sex

I obtained the 2018 information from https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/saveselections.asp From the above it can be seen that 53% of males and 47% of females held full driving licences. The provisional licences were more evenly split with approximately 50% of each sexes. Overall, 92% of licences held in 2018 were Full and 8% were Provisional.

Mileage

Another variable I will add to my data is mileage and it will be split between petrol and diesel. I sourced the information from https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/saveselections.asp and tidyied it up to suit my requirements as I think total mileage will have an effect on the pass/fail rate. The average km per year over a 14 year period (The information only goes to 2015 at the moment) for a petrol car is 13,489 and diesel is 19,598.

Import the data, libraries and rearrange.

In [3]:
# Import all required libraries


#Import libraries needed
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

%matplotlib inline

In [4]:
pwd

'C:\\Users\\Rebecca\\Desktop\\Prog Data 2019\\Programming-for-Data-Analysis-Project-2019'

In [5]:
import os
import csv

In [6]:
#import csv -  I used this method as when I loaded it originally it was throwing up an error. I eventually realised it was a few lines of text which was at the start of the file.  I deleted it and the error message went.
# https://github.com/llSourcell/tensorflow_chatbot/issues/17
#df = pd.read_csv(r"C:/Users/Rebecca/Desktop/Prog Data 2019/Programming-for-Data-Analysis-Project-2019/nct18.csv", delimiter = ',' , encoding = 'unicode_escape')
#print (df)

In [7]:
import csv
df = pd.read_csv(r"C:/Users/Rebecca/Desktop/Prog Data 2019/Programming-for-Data-Analysis-Project-2019/nct18.csv")

print (df)

            Make  Model  Year  Total  Pass  Pass %  Fail  Fail %  area1  \
0         ABARTH    595  2013      1     1   100.0     0     0.0      0
1             AC  OTHER  2006      1     0     0.0     1   100.0      1
2     ALFA ROMEO    145  1998      2     1    50.0     1    50.0      0
3     ALFA ROMEO    145  1999      2     1    50.0     1    50.0      1
4     ALFA ROMEO    145  2000      2     0     0.0     2   100.0      1
5     ALFA ROMEO    146  1997      2     0     0.0     2   100.0      1
6     ALFA ROMEO    146  1998      3     0     0.0     3   100.0      2
7     ALFA ROMEO    146  1999      1     0     0.0     1   100.0      1
8     ALFA ROMEO    146  2000      4     1    25.0     3    75.0      0
9     ALFA ROMEO    147  2001     10     4    40.0     6    60.0      3
10    ALFA ROMEO    147  2002     33    10    30.3    23    69.7      5
11    ALFA ROMEO    147  2003     35    10    28.6    25    71.4      7
12    ALFA ROMEO    147  2004     32    11    34.4    21    65.6      5
13    ALFA ROMEO    147  2005     65    26    40.0    39    60.0     14
14    ALFA ROMEO    147  2006     76    19    25.0    57    75.0     19
15    ALFA ROMEO    147  2007     69    31    44.9    38    55.1     14
16    ALFA ROMEO    147  2008     49    17    34.7    32    65.3     10
17    ALFA ROMEO    147  2010     17    10    58.8     7    41.2      2
18    ALFA ROMEO    155  1994      3     0     0.0     3   100.0      1
19    ALFA ROMEO    155  1995      1     0     0.0     1   100.0      0
20    ALFA ROMEO    155  1997      4     2    50.0     2    50.0      1
21    ALFA ROMEO    156  1998      9     1    11.1     8    88.9      1
22    ALFA ROMEO    156  1999     13     3    23.1    10    76.9      3
23    ALFA ROMEO    156  2000     29    12    41.4    17    58.6      4
24    ALFA ROMEO    156  2001     45    16    35.6    29    64.4      5
25    ALFA ROMEO    156  2002     42     9    21.4    33    78.6      5
26    ALFA ROMEO    156  2003     86    22    25.6    64    74.4     11
27    ALFA ROMEO    156  2004    136    36    26.5   100    73.5     24
28    ALFA ROMEO    156  2005     82    23    28.0    59    72.0      8
29    ALFA ROMEO    156  2006      8     1    12.5     7    87.5      2
...          ...    ...   ...    ...   ...     ...   ...     ...    ...
8697       VOLVO   XC60  2013     30    23    76.7     7    23.3      1
8698       VOLVO   XC60  2014    480   395    82.3    85    17.7      7
8699       VOLVO   XC60  2015     46    36    78.3    10    21.7      2
8700       VOLVO   XC60  2016      1     1   100.0     0     0.0      0
8701       VOLVO   XC70  2003      6     1    16.7     5    83.3      1
8702       VOLVO   XC70  2004      9     2    22.2     7    77.8      2
8703       VOLVO   XC70  2005     18     3    16.7    15    83.3      1
8704       VOLVO   XC70  2006     39    14    35.9    25    64.1      5
8705       VOLVO   XC70  2007     21    13    61.9     8    38.1      2
8706       VOLVO   XC70  2008     25    15    60.0    10    40.0      0
8707       VOLVO   XC70  2009      2     2   100.0     0     0.0      0
8708       VOLVO   XC70  2010      5     5   100.0     0     0.0      0
8709       VOLVO   XC70  2011      3     1    33.3     2    66.7      0
8710       VOLVO   XC70  2012     11     9    81.8     2    18.2      0
8711       VOLVO   XC70  2013      2     2   100.0     0     0.0      0
8712       VOLVO   XC70  2014     11    10    90.9     1     9.1      1
8713       VOLVO   XC70  2015      1     1   100.0     0     0.0      0
8714       VOLVO   XC90  2005     37    13    35.1    24    64.9      5
8715       VOLVO   XC90  2006    248    80    32.3   168    67.7     30
8716       VOLVO   XC90  2007    254    71    28.0   183    72.0     23
8717       VOLVO   XC90  2008    105    36    34.3    69    65.7     20
8718       VOLVO   XC90  2009      1     0     0.0     1   100.0      0
8719       VOLVO   XC90  2010     15     7    46.7     8    53.3      0
8720       VOLVO   XC90  2011     10     3    30.0     7    70.0      0
8721       VOLVO   XC90  2012     48    32    66.7    16    33.3      1
8722       VOLVO   XC90  2013      2     0     0.0     2   100.0      0
8723       VOLVO   XC90  2014     69    44    63.8    25    36.2      4
8724       VOLVO   XC90  2015      3     2    66.7     1    33.3      0
8725       VOLVO   XC90  2016      1     1   100.0     0     0.0      0
8726   WESTFIELD  OTHER  2006      3     1    33.3     2    66.7      1

      area2      ...       area19  area20  area21  area22  area23  area24  \
0       0.0      ...            0     0.0       0     0.0       0     0.0
1     100.0      ...            1   100.0       1   100.0       1   100.0
2       0.0      ...            0     0.0       1    50.0       0     0.0
3      50.0      ...            0     0.0       0     0.0       0     0.0
4      50.0      ...            1    50.0       1    50.0       1    50.0
5      50.0      ...            0     0.0       0     0.0       0     0.0
6      66.7      ...            0     0.0       0     0.0       0     0.0
7     100.0      ...            0     0.0       0     0.0       1   100.0
8       0.0      ...            0     0.0       1    25.0       2    50.0
9      30.0      ...            1    10.0       1    10.0       1    10.0
10     15.2      ...            2     6.1       6    18.2       0     0.0
11     20.0      ...            5    14.3       3     8.6       2     5.7
12     15.6      ...            6    18.8       1     3.1       0     0.0
13     21.5      ...            8    12.3       5     7.7       0     0.0
14     25.0      ...           15    19.7      11    14.5       2     2.6
15     20.3      ...            6     8.7       9    13.0       0     0.0
16     20.4      ...            4     8.2       5    10.2       1     2.0
17     11.8      ...            2    11.8       2    11.8       4    23.5
18     33.3      ...            2    66.7       1    33.3       1    33.3
19      0.0      ...            1   100.0       0     0.0       0     0.0
20     25.0      ...            0     0.0       1    25.0       1    25.0
21     11.1      ...            1    11.1       2    22.2       0     0.0
22     23.1      ...            1     7.7       4    30.8       1     7.7
23     13.8      ...            0     0.0       3    10.3       3    10.3
24     11.1      ...            3     6.7      10    22.2       2     4.4
25     11.9      ...            7    16.7       7    16.7       2     4.8
26     12.8      ...           14    16.3      15    17.4       6     7.0
27     17.6      ...           26    19.1      20    14.7       6     4.4
28      9.8      ...           18    22.0      12    14.6       7     8.5
29     25.0      ...            5    62.5       1    12.5       3    37.5
...     ...      ...          ...     ...     ...     ...     ...     ...
8697    3.3      ...            4    13.3       0     0.0       0     0.0
8698    1.5      ...           28     5.8       3     0.6       0     0.0
8699    4.3      ...            0     0.0       0     0.0       0     0.0
8700    0.0      ...            0     0.0       0     0.0       0     0.0
8701   16.7      ...            0     0.0       2    33.3       1    16.7
8702   22.2      ...            3    33.3       4    44.4       1    11.1
8703    5.6      ...            6    33.3       1     5.6       0     0.0
8704   12.8      ...            1     2.6      11    28.2       1     2.6
8705    9.5      ...            0     0.0       3    14.3       0     0.0
8706    0.0      ...            0     0.0       0     0.0       0     0.0
8707    0.0      ...            0     0.0       0     0.0       0     0.0
8708    0.0      ...            0     0.0       0     0.0       0     0.0
8709    0.0      ...            0     0.0       0     0.0       0     0.0
8710    0.0      ...            1     9.1       0     0.0       0     0.0
8711    0.0      ...            0     0.0       0     0.0       0     0.0
8712    9.1      ...            0     0.0       0     0.0       0     0.0
8713    0.0      ...            0     0.0       0     0.0       0     0.0
8714   13.5      ...            7    18.9       8    21.6       2     5.4
8715   12.1      ...           11     4.4      91    36.7       9     3.6
8716    9.1      ...           25     9.8     104    40.9       3     1.2
8717   19.0      ...            4     3.8      41    39.0       1     1.0
8718    0.0      ...            0     0.0       0     0.0       0     0.0
8719    0.0      ...            1     6.7       4    26.7       0     0.0
8720    0.0      ...            0     0.0       4    40.0       0     0.0
8721    2.1      ...            3     6.3       7    14.6       0     0.0
8722    0.0      ...            0     0.0       2   100.0       0     0.0
8723    5.8      ...            5     7.2       7    10.1       0     0.0
8724    0.0      ...            0     0.0       0     0.0       0     0.0
8725    0.0      ...            0     0.0       0     0.0       0     0.0
8726   33.3      ...            1    33.3       0     0.0       0     0.0

      area25  area26  Incomplete  Incomplete %
0          0     0.0           0           0.0
1          0     0.0           0           0.0
2          0     0.0           0           0.0
3          0     0.0           0           0.0
4          0     0.0           0           0.0
5          0     0.0           0           0.0
6          0     0.0           0           0.0
7          0     0.0           0           0.0
8          0     0.0           0           0.0
9          0     0.0           0           0.0
10         0     0.0           0           0.0
11         0     0.0           0           0.0
12         1     3.1           0           0.0
13         2     3.1           0           0.0
14         0     0.0           0           0.0
15         0     0.0           0           0.0
16         0     0.0           0           0.0
17         0     0.0           0           0.0
18         0     0.0           0           0.0
19         0     0.0           0           0.0
20         0     0.0           0           0.0
21         1    11.1           0           0.0
22         0     0.0           0           0.0
23         0     0.0           0           0.0
24         0     0.0           0           0.0
25         0     0.0           0           0.0
26         1     1.2           0           0.0
27         0     0.0           0           0.0
28         0     0.0           0           0.0
29         0     0.0           0           0.0
...      ...     ...         ...           ...
8697       0     0.0           0           0.0
8698       0     0.0           1           0.2
8699       0     0.0           0           0.0
8700       0     0.0           0           0.0
8701       0     0.0           0           0.0
8702       0     0.0           0           0.0
8703       0     0.0           0           0.0
8704       1     2.6           1           2.6
8705       0     0.0           0           0.0
8706       1     4.0           0           0.0
8707       0     0.0           0           0.0
8708       0     0.0           0           0.0
8709       0     0.0           0           0.0
8710       0     0.0           0           0.0
8711       0     0.0           0           0.0
8712       0     0.0           0           0.0
8713       0     0.0           0           0.0
8714       0     0.0           0           0.0
8715       4     1.6           0           0.0
8716       3     1.2           1           0.4
8717       1     1.0           0           0.0
8718       0     0.0           0           0.0
8719       0     0.0           0           0.0
8720       0     0.0           0           0.0
8721       0     0.0           0           0.0
8722       0     0.0           0           0.0
8723       0     0.0           0           0.0
8724       0     0.0           0           0.0
8725       0     0.0           0           0.0
8726       0     0.0           0           0.0

[8727 rows x 36 columns]

In [8]:
df.head()

,Make,Model,Year,Total,Pass,Pass %,Fail,Fail %,area1,area2,...,area19,area20,area21,area22,area23,area24,area25,area26,Incomplete,Incomplete %
0,ABARTH,595,2013,1,1,100.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,AC,OTHER,2006,1,0,0.0,1,100.0,1,100.0,...,1,100.0,1,100.0,1,100.0,0,0.0,0,0.0
2,ALFA ROMEO,145,1998,2,1,50.0,1,50.0,0,0.0,...,0,0.0,1,50.0,0,0.0,0,0.0,0,0.0
3,ALFA ROMEO,145,1999,2,1,50.0,1,50.0,1,50.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,ALFA ROMEO,145,2000,2,0,0.0,2,100.0,1,50.0,...,1,50.0,1,50.0,1,50.0,0,0.0,0,0.0

In [9]:
df.tail()

,Make,Model,Year,Total,Pass,Pass %,Fail,Fail %,area1,area2,...,area19,area20,area21,area22,area23,area24,area25,area26,Incomplete,Incomplete %
8722,VOLVO,XC90,2013,2,0,0.0,2,100.0,0,0.0,...,0,0.0,2,100.0,0,0.0,0,0.0,0,0.0
8723,VOLVO,XC90,2014,69,44,63.8,25,36.2,4,5.8,...,5,7.2,7,10.1,0,0.0,0,0.0,0,0.0
8724,VOLVO,XC90,2015,3,2,66.7,1,33.3,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
8725,VOLVO,XC90,2016,1,1,100.0,0,0.0,0,0.0,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
8726,WESTFIELD,OTHER,2006,3,1,33.3,2,66.7,1,33.3,...,1,33.3,0,0.0,0,0.0,0,0.0,0,0.0

In [10]:
# Far more columns than I want, delete the ones I do not need https://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe
df.drop(["area1", "area2", "area3","area4", "area5", "area6","area7", "area8", "area9","area10", "area11", "area12","area13", "area14", "area15","area16", "area17", "area18","area19", "area20", "area21","area22", "area23", "area24","area25", "area26"], axis=1, inplace=True)
df

,Make,Model,Year,Total,Pass,Pass %,Fail,Fail %,Incomplete,Incomplete %
0,ABARTH,595,2013,1,1,100.0,0,0.0,0,0.0
1,AC,OTHER,2006,1,0,0.0,1,100.0,0,0.0
2,ALFA ROMEO,145,1998,2,1,50.0,1,50.0,0,0.0
3,ALFA ROMEO,145,1999,2,1,50.0,1,50.0,0,0.0
4,ALFA ROMEO,145,2000,2,0,0.0,2,100.0,0,0.0
5,ALFA ROMEO,146,1997,2,0,0.0,2,100.0,0,0.0
6,ALFA ROMEO,146,1998,3,0,0.0,3,100.0,0,0.0
7,ALFA ROMEO,146,1999,1,0,0.0,1,100.0,0,0.0
8,ALFA ROMEO,146,2000,4,1,25.0,3,75.0,0,0.0
9,ALFA ROMEO,147,2001,10,4,40.0,6,60.0,0,0.0
10,ALFA ROMEO,147,2002,33,10,30.3,23,69.7,0,0.0
11,ALFA ROMEO,147,2003,35,10,28.6,25,71.4,0,0.0
12,ALFA ROMEO,147,2004,32,11,34.4,21,65.6,0,0.0
13,ALFA ROMEO,147,2005,65,26,40.0,39,60.0,0,0.0
14,ALFA ROMEO,147,2006,76,19,25.0,57,75.0,0,0.0
15,ALFA ROMEO,147,2007,69,31,44.9,38,55.1,0,0.0
16,ALFA ROMEO,147,2008,49,17,34.7,32,65.3,0,0.0
17,ALFA ROMEO,147,2010,17,10,58.8,7,41.2,0,0.0
18,ALFA ROMEO,155,1994,3,0,0.0,3,100.0,0,0.0
19,ALFA ROMEO,155,1995,1,0,0.0,1,100.0,0,0.0
20,ALFA ROMEO,155,1997,4,2,50.0,2,50.0,0,0.0
21,ALFA ROMEO,156,1998,9,1,11.1,8,88.9,0,0.0
22,ALFA ROMEO,156,1999,13,3,23.1,10,76.9,0,0.0
23,ALFA ROMEO,156,2000,29,12,41.4,17,58.6,0,0.0
24,ALFA ROMEO,156,2001,45,16,35.6,29,64.4,0,0.0
25,ALFA ROMEO,156,2002,42,9,21.4,33,78.6,0,0.0
26,ALFA ROMEO,156,2003,86,22,25.6,64,74.4,0,0.0
27,ALFA ROMEO,156,2004,136,36,26.5,100,73.5,0,0.0
28,ALFA ROMEO,156,2005,82,23,28.0,59,72.0,0,0.0
29,ALFA ROMEO,156,2006,8,1,12.5,7,87.5,0,0.0
...,...,...,...,...,...,...,...,...,...,...
8697,VOLVO,XC60,2013,30,23,76.7,7,23.3,0,0.0
8698,VOLVO,XC60,2014,480,395,82.3,85,17.7,1,0.2
8699,VOLVO,XC60,2015,46,36,78.3,10,21.7,0,0.0
8700,VOLVO,XC60,2016,1,1,100.0,0,0.0,0,0.0
8701,VOLVO,XC70,2003,6,1,16.7,5,83.3,0,0.0
8702,VOLVO,XC70,2004,9,2,22.2,7,77.8,0,0.0
8703,VOLVO,XC70,2005,18,3,16.7,15,83.3,0,0.0
8704,VOLVO,XC70,2006,39,14,35.9,25,64.1,1,2.6
8705,VOLVO,XC70,2007,21,13,61.9,8,38.1,0,0.0
8706,VOLVO,XC70,2008,25,15,60.0,10,40.0,0,0.0
8707,VOLVO,XC70,2009,2,2,100.0,0,0.0,0,0.0
8708,VOLVO,XC70,2010,5,5,100.0,0,0.0,0,0.0
8709,VOLVO,XC70,2011,3,1,33.3,2,66.7,0,0.0
8710,VOLVO,XC70,2012,11,9,81.8,2,18.2,0,0.0
8711,VOLVO,XC70,2013,2,2,100.0,0,0.0,0,0.0
8712,VOLVO,XC70,2014,11,10,90.9,1,9.1,0,0.0
8713,VOLVO,XC70,2015,1,1,100.0,0,0.0,0,0.0
8714,VOLVO,XC90,2005,37,13,35.1,24,64.9,0,0.0
8715,VOLVO,XC90,2006,248,80,32.3,168,67.7,0,0.0
8716,VOLVO,XC90,2007,254,71,28.0,183,72.0,1,0.4
8717,VOLVO,XC90,2008,105,36,34.3,69,65.7,0,0.0
8718,VOLVO,XC90,2009,1,0,0.0,1,100.0,0,0.0
8719,VOLVO,XC90,2010,15,7,46.7,8,53.3,0,0.0
8720,VOLVO,XC90,2011,10,3,30.0,7,70.0,0,0.0
8721,VOLVO,XC90,2012,48,32,66.7,16,33.3,0,0.0
8722,VOLVO,XC90,2013,2,0,0.0,2,100.0,0,0.0
8723,VOLVO,XC90,2014,69,44,63.8,25,36.2,0,0.0
8724,VOLVO,XC90,2015,3,2,66.7,1,33.3,0,0.0
8725,VOLVO,XC90,2016,1,1,100.0,0,0.0,0,0.0
8726,WESTFIELD,OTHER,2006,3,1,33.3,2,66.7,0,0.0

In [11]:
# Another way to import the original file
#import csv
#df = pd.read_csv(r"C:/Users/Rebecca/Desktop/Prog Data 2019/Programming-for-Data-Analysis-Project-2019/nct.csv")

#print (df)

In [12]:
df.head()

,Make,Model,Year,Total,Pass,Pass %,Fail,Fail %,Incomplete,Incomplete %
0,ABARTH,595,2013,1,1,100.0,0,0.0,0,0.0
1,AC,OTHER,2006,1,0,0.0,1,100.0,0,0.0
2,ALFA ROMEO,145,1998,2,1,50.0,1,50.0,0,0.0
3,ALFA ROMEO,145,1999,2,1,50.0,1,50.0,0,0.0
4,ALFA ROMEO,145,2000,2,0,0.0,2,100.0,0,0.0

In [13]:
df.tail()

,Make,Model,Year,Total,Pass,Pass %,Fail,Fail %,Incomplete,Incomplete %
8722,VOLVO,XC90,2013,2,0,0.0,2,100.0,0,0.0
8723,VOLVO,XC90,2014,69,44,63.8,25,36.2,0,0.0
8724,VOLVO,XC90,2015,3,2,66.7,1,33.3,0,0.0
8725,VOLVO,XC90,2016,1,1,100.0,0,0.0,0,0.0
8726,WESTFIELD,OTHER,2006,3,1,33.3,2,66.7,0,0.0

In [14]:
df.describe()

,Year,Total,Pass,Pass %,Fail,Fail %,Incomplete,Incomplete %
count,8727.000000,8727.000000,8727.000000,8727.000000,8727.000000,8727.000000,8727.000000,8727.000000
mean,2003.846224,153.977312,75.827088,47.664913,78.150223,52.335797,0.114702,0.254933
std,8.741819,580.532176,291.846370,32.205022,314.299107,32.205037,0.685312,3.385364
min,1932.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1999.000000,2.000000,1.000000,25.600000,1.000000,28.600000,0.000000,0.000000
50%,2005.000000,8.000000,4.000000,45.700000,4.000000,54.300000,0.000000,0.000000
75%,2010.000000,57.500000,27.500000,71.400000,28.000000,74.400000,0.000000,0.000000
max,2018.000000,10556.000000,5474.000000,100.000000,5970.000000,100.000000,20.000000,100.000000

In [15]:
# See if there is any information missing, it all appears to be there
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8727 entries, 0 to 8726
Data columns (total 10 columns):
Make            8727 non-null object
Model           8727 non-null object
Year            8727 non-null int64
Total           8727 non-null int64
Pass            8727 non-null int64
Pass %          8727 non-null float64
Fail            8727 non-null int64
Fail %          8727 non-null float64
Incomplete      8727 non-null int64
Incomplete %    8727 non-null float64
dtypes: float64(3), int64(5), object(2)
memory usage: 681.9+ KB

In [16]:
# Another way to check and see if all the information is there.  It confirms that there is nothing missing.
df.isnull().sum()

Make            0
Model           0
Year            0
Total           0
Pass            0
Pass %          0
Fail            0
Fail %          0
Incomplete      0
Incomplete %    0
dtype: int64

In [17]:
# Begin to look at the data and see the make of the car and the number of them that failed the nct.
df.groupby(by='Make')['Fail'].sum()

Make
ABARTH                        0
AC                            1
ALFA ROMEO                 1436
ASQUITH                       2
ASTON MARTIN                 31
AUDI                      31171
AUSTIN                      181
AUSTIN ROVER                  0
BADSWORTH                     1
BEAUFORD                     14
BENTLEY                      63
BINZ                          0
BMW                       27495
BRAMWITH                      1
BRANFORD                      3
BRENCHLEY                     2
BRISTOL                       3
CADILLAC                      7
CARBODIES                     4
CATERHAM                      0
CHEVROLET                  2903
CHRYSLER                    831
CHRYSLER JEEP                 9
CITROEN                   13541
DACIA                       751
DAEWOO                      889
DAIHATSU                   1096
DAIMLER                      21
DATSUN                        1
DE LOREAN                     3
                          ...
PONTIAC                       1
PORSCHE                     451
PROTON                       15
REGENT                        6
RELIANT                       2
RENAULT                   33090
RILEY                         0
ROLLS ROYCE                  24
ROVER                      1068
SAAB                       3040
SEAT                      11778
SHELSLEY                      1
SKODA                     20508
SMART                       236
SSANGYONG                   459
SUBARU                     1597
SUZUKI                     8946
TALBOT                        0
TATA                          5
TESLA                        12
TIGER                         1
TOYOTA                   103700
TOYOTA VELLFIRE               0
TRIUMPH                       2
TVR                           2
VAUXHALL                  11826
VINTAGE MOTOR COMPANY         2
VOLKSWAGEN                86570
VOLVO                      9286
WESTFIELD                     2
Name: Fail, Length: 111, dtype: int64

In [18]:
# Select only the ones which I want to look into Hyundai Santa Fe.  I am calling it df2 to keep it separate from the original one.
df2=df[(df['Make'] == 'HYUNDAI') & (df['Model'] == 'SANTA FE')]
df2

,Make,Model,Year,Total,Pass,Pass %,Fail,Fail %,Incomplete,Incomplete %
3108,HYUNDAI,SANTA FE,2001,20,4,20.0,16,80.0,0,0.0
3109,HYUNDAI,SANTA FE,2002,139,29,20.9,110,79.1,0,0.0
3110,HYUNDAI,SANTA FE,2003,311,79,25.4,232,74.6,0,0.0
3111,HYUNDAI,SANTA FE,2004,614,169,27.5,445,72.5,1,0.2
3112,HYUNDAI,SANTA FE,2005,1048,341,32.5,707,67.5,1,0.1
3113,HYUNDAI,SANTA FE,2006,1310,398,30.4,912,69.6,0,0.0
3114,HYUNDAI,SANTA FE,2007,1552,481,31.0,1071,69.0,3,0.2
3115,HYUNDAI,SANTA FE,2008,642,216,33.6,426,66.4,0,0.0
3116,HYUNDAI,SANTA FE,2009,82,25,30.5,57,69.5,0,0.0
3117,HYUNDAI,SANTA FE,2010,221,99,44.8,122,55.2,0,0.0
3118,HYUNDAI,SANTA FE,2011,64,31,48.4,33,51.6,0,0.0
3119,HYUNDAI,SANTA FE,2012,254,127,50.0,127,50.0,0,0.0
3120,HYUNDAI,SANTA FE,2013,87,49,56.3,38,43.7,0,0.0
3121,HYUNDAI,SANTA FE,2014,584,453,77.6,131,22.4,4,0.7
3122,HYUNDAI,SANTA FE,2015,93,78,83.9,15,16.1,0,0.0

In [19]:
# Another way to select the information, also acts as a double check to make sure I have the right information.
df[df['Model'].str.contains('SANTA FE')]

,Make,Model,Year,Total,Pass,Pass %,Fail,Fail %,Incomplete,Incomplete %
3108,HYUNDAI,SANTA FE,2001,20,4,20.0,16,80.0,0,0.0
3109,HYUNDAI,SANTA FE,2002,139,29,20.9,110,79.1,0,0.0
3110,HYUNDAI,SANTA FE,2003,311,79,25.4,232,74.6,0,0.0
3111,HYUNDAI,SANTA FE,2004,614,169,27.5,445,72.5,1,0.2
3112,HYUNDAI,SANTA FE,2005,1048,341,32.5,707,67.5,1,0.1
3113,HYUNDAI,SANTA FE,2006,1310,398,30.4,912,69.6,0,0.0
3114,HYUNDAI,SANTA FE,2007,1552,481,31.0,1071,69.0,3,0.2
3115,HYUNDAI,SANTA FE,2008,642,216,33.6,426,66.4,0,0.0
3116,HYUNDAI,SANTA FE,2009,82,25,30.5,57,69.5,0,0.0
3117,HYUNDAI,SANTA FE,2010,221,99,44.8,122,55.2,0,0.0
3118,HYUNDAI,SANTA FE,2011,64,31,48.4,33,51.6,0,0.0
3119,HYUNDAI,SANTA FE,2012,254,127,50.0,127,50.0,0,0.0
3120,HYUNDAI,SANTA FE,2013,87,49,56.3,38,43.7,0,0.0
3121,HYUNDAI,SANTA FE,2014,584,453,77.6,131,22.4,4,0.7
3122,HYUNDAI,SANTA FE,2015,93,78,83.9,15,16.1,0,0.0

From the information provided by the RSA for 2018 over all there was approximately a  49% pass rate, 50% fail and 1% incomplete.  Within all years of Hyundai Santa Fe's it changed to an approximate 36% pass, 63% fail and 1% incomplete rate.

In [20]:
# These are the workings on the number cars per year that went through the NCT in 2008 and expressed as a percentage of the total.

df7 = pd.read_csv(r"C:/Users/Rebecca/Desktop/Prog Data 2019/Programming-for-Data-Analysis-Project-2019/Hyundai.csv")
print (df7)

   Vehicle Make Vehicle Model  Year Of Birth  Total      %  Unnamed: 5  \
0       HYUNDAI      SANTA FE         2001.0     20    0.3         NaN
1       HYUNDAI      SANTA FE         2002.0    139    2.0         NaN
2       HYUNDAI      SANTA FE         2003.0    311    4.4         NaN
3       HYUNDAI      SANTA FE         2004.0    614    8.7         NaN
4       HYUNDAI      SANTA FE         2005.0   1048   14.9         NaN
5       HYUNDAI      SANTA FE         2006.0   1310   18.7         NaN
6       HYUNDAI      SANTA FE         2007.0   1552   22.1         NaN
7       HYUNDAI      SANTA FE         2008.0    642    9.1         NaN
8       HYUNDAI      SANTA FE         2009.0     82    1.2         NaN
9       HYUNDAI      SANTA FE         2010.0    221    3.1         NaN
10      HYUNDAI      SANTA FE         2011.0     64    0.9         NaN
11      HYUNDAI      SANTA FE         2012.0    254    3.6         NaN
12      HYUNDAI      SANTA FE         2013.0     87    1.2         NaN
13      HYUNDAI      SANTA FE         2014.0    584    8.3         NaN
14      HYUNDAI      SANTA FE         2015.0     93    1.3         NaN
15          NaN           NaN            NaN   7021  100.0         NaN

    Unnamed: 6  Unnamed: 7  Unnamed: 8
0          0.3         NaN       0.003
1          2.0         NaN       0.020
2          4.4         NaN       0.044
3          8.7         NaN       0.087
4         14.9         NaN       0.149
5         18.7         NaN       0.187
6         22.1         NaN       0.221
7          9.1         NaN       0.091
8          1.2         NaN       0.012
9          3.1         NaN       0.031
10         0.9         NaN       0.009
11         3.6         NaN       0.036
12         1.2         NaN       0.012
13         8.3         NaN       0.083
14         1.3         NaN       0.013
15       100.0         NaN       0.998

In [21]:
# Workings on diesel/petrol split
# I want to add a variable to the table which states whether or not the car ran on petrol or diesel.  The figures are not available for that particular model so I again used statbank and got the breakdown for them. The information doesn not exist prior to 2010 and I only go up to 2015 for the nct so that is all I will import.  I plan to get a rough idea on the breakdown and apply it to my database.
import csv
df3 = pd.read_csv(r"C:/Users/Rebecca/Desktop/Prog Data 2019/Programming-for-Data-Analysis-Project-2019/dvp.csv")
print (df3)

     Year    2010    2011    2012    2013    2014    2015
0  Petrol   37934   31002   23888   25849   32098   41759
1  Diesel   81787   94918   88668   94176  111462  123951
2   Total  119721  125920  112556  120025  143560  165710

In [22]:
df3.head()

     Year    2010    2011    2012    2013    2014    2015
0  Petrol   37934   31002   23888   25849   32098   41759
1  Diesel   81787   94918   88668   94176  111462  123951
2   Total  119721  125920  112556  120025  143560  165710

In [44]:
# Calculate and show the percentage of petrol cars.  https://stackoverflow.com/questions/36786722/how-to-display-full-output-in-jupyter-not-only-last-result

# Show the percentage of petrol cars in 2010
print (round( 37934/ 119721 * 100,2))

# Show the percentage of petrol cars in 2011
print (round( 31002/ 125920 * 100,2))

# Show the percentage of petrol cars in 2012
print (round( 23888/ 112556 * 100,2))

# Show the percentage of petrol cars in 2013
print (round( 25849/ 120025* 100,2))

# Show the percentage of petrol cars in 2014
print (round( 32098/ 143560 * 100,2))

# Show the percentage of petrol cars in 2015
print (round( 41759/ 165710 * 100,2))



from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

31.69
24.62
21.22
21.54
22.36
25.2

The average of the 6 years I have data for is that petrol cars accounted over all for 24%.  I will apply this to the data I will synthesise.

In [24]:
# Mileage workings

import csv
df4 = pd.read_csv(r"C:/Users/Rebecca/Desktop/Prog Data 2019/Programming-for-Data-Analysis-Project-2019/avgmile.csv")
print (df4)

                         Year       Petrol          %       Diesel        %.1  \
0                        2001  12206.00000  46.015230  14320.00000  53.984770
1                        2002  12854.00000  45.822045  15198.00000  54.177955
2                        2003  12895.00000  45.002443  15759.00000  54.997557
3                        2004  12904.00000  44.456694  16122.00000  55.543306
4                        2005  13076.00000  44.352486  16406.00000  55.647514
5                        2006  12790.00000  43.180284  16830.00000  56.819716
6                        2007  13432.00000  43.243939  17629.00000  56.756061
7                        2008  13085.00000  40.242965  19430.00000  59.757035
8                        2009  12887.00000  39.704840  19570.00000  60.295160
9                        2010  10822.00000  36.642514  18712.00000  63.357486
10                       2011  10794.00000  35.751192  19398.00000  64.248808
11                       2012  11938.00000  37.291100  20075.00000  62.708900
12                       2013  12974.00000  37.514458  21610.00000  62.485542
13                       2014  12925.00000  37.519231  21524.00000  62.480769
14                       2015  13119.00000  37.580567  21790.00000  62.419433
15  Total average km per year  13478.64286        NaN  19598.07143        NaN

      Total  Check %
0   26526.0    100.0
1   28052.0    100.0
2   28654.0    100.0
3   29026.0    100.0
4   29482.0    100.0
5   29620.0    100.0
6   31061.0    100.0
7   32515.0    100.0
8   32457.0    100.0
9   29534.0    100.0
10  30192.0    100.0
11  32013.0    100.0
12  34584.0    100.0
13  34449.0    100.0
14  34909.0    100.0
15      NaN      NaN

Another variable I will add to my data is mileage and it will be split between petrol and diesel.  I sourced the information from https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/saveselections.asp and tidyied it up to suit my requirements as total mileage will have an effect on the pass/fail rate.  The average km per year over a 14 year period (The information only goes to 2015 at the moment)  for a petrol car is 13,489 and diesel is 19,598.

In [25]:
# The final variables I will enter will be sex, and licence status.  

df6 = pd.read_csv(r"C:/Users/Rebecca/Desktop/Prog Data 2019/Programming-for-Data-Analysis-Project-2019/driver.csv")

print (df6)

     2018  Full Driving Licences            %  \
0    Male                 1422852   53.347721
1  Female                 1244276   46.652279
2   Total                 2667128  100.000000

   Learner Permit Driving Licences         %.1
0                           119686   49.855872
1                           120378   50.144128
2                           240064  100.000000

 I obtained the 2018 information from https://statbank.cso.ie/px/pxeirestat/Statire/SelectVarVal/saveselections.asp From the above it can be seen that 53% of males and 47% of females held full driving licences.  The provisional licences were more evenly split with approximately 50% of each sexes.  Overall, 92% of licences held in 2018 were Full and 8% were Provisional.

Now I have all my variables and their values I will recreate the dataframe based on that information.

In [26]:
df5 = pd.DataFrame(columns=["year", "fuel", "status", "sex", "licence_type", "mileage"])



# Populate the data with the number of cars per year.
df5['year'] = np.random.choice(["2001", "2002","2003","2004","2005","2006","2007","2008","2009",2010,2011,2012,2013,2014,2015], p=[0.004, 0.02, 0.044, 0.087, 0.149, 0.187, 0.221, 0.091, 0.012, 0.031, 0.009, 0.036, 0.013, 0.083, 0.013], size=(100))


# Create the fuel types
fuel = ['petrol', 'diesel']

# Populate the Fuel column with petrol and diesel
df5['fuel'] = np.random.choice(fuel, 100, p=[0.24, 0.76])



# Create the status types
status = ["pass", "fail", "incomplete"]

# Populate the status column 
df5['status'] = np.random.choice(status, 100, p=[0.36, 0.63, 0.01])

# Create the sexes
sex = ['male', 'female']

# Populate the column
df5['sex'] = np.random.choice(sex, 100, p=[0.53, 0.47])

# Create the licence_type categories
licence_type = ["full", "learner"]

# Populate it
df5['licence_type'] = np.random.choice(licence_type, 100, p=[0.92, 0.08])

print (df5)

    year    fuel status     sex licence_type mileage
0   2013  petrol   pass  female         full     NaN
1   2002  diesel   pass    male         full     NaN
2   2002  diesel   fail    male         full     NaN
3   2006  petrol   fail    male         full     NaN
4   2014  diesel   pass    male         full     NaN
5   2014  diesel   fail    male         full     NaN
6   2006  diesel   fail    male         full     NaN
7   2007  petrol   fail  female         full     NaN
8   2007  diesel   pass    male         full     NaN
9   2007  petrol   fail  female         full     NaN
10  2005  petrol   fail    male         full     NaN
11  2007  diesel   fail  female         full     NaN
12  2007  diesel   pass    male         full     NaN
13  2015  diesel   fail    male         full     NaN
14  2007  diesel   fail  female         full     NaN
15  2007  diesel   pass  female         full     NaN
16  2006  diesel   fail    male      learner     NaN
17  2014  diesel   pass  female         full     NaN
18  2012  petrol   fail  female         full     NaN
19  2004  diesel   pass    male         full     NaN
20  2007  petrol   fail    male         full     NaN
21  2012  diesel   fail    male         full     NaN
22  2007  petrol   fail    male         full     NaN
23  2006  diesel   fail    male         full     NaN
24  2007  petrol   fail  female      learner     NaN
25  2014  diesel   fail  female      learner     NaN
26  2015  diesel   fail  female         full     NaN
27  2006  petrol   fail    male         full     NaN
28  2007  diesel   fail  female         full     NaN
29  2007  diesel   fail    male         full     NaN
..   ...     ...    ...     ...          ...     ...
70  2007  diesel   pass  female         full     NaN
71  2005  diesel   fail    male         full     NaN
72  2006  diesel   pass  female         full     NaN
73  2007  petrol   pass    male         full     NaN
74  2014  diesel   fail  female         full     NaN
75  2012  diesel   fail    male         full     NaN
76  2007  petrol   fail  female         full     NaN
77  2006  diesel   fail    male         full     NaN
78  2007  diesel   fail    male         full     NaN
79  2003  diesel   fail    male         full     NaN
80  2007  diesel   fail    male         full     NaN
81  2007  diesel   pass    male         full     NaN
82  2006  petrol   pass    male         full     NaN
83  2007  diesel   fail    male         full     NaN
84  2007  diesel   fail    male         full     NaN
85  2005  diesel   fail    male         full     NaN
86  2007  diesel   fail    male         full     NaN
87  2004  petrol   fail  female         full     NaN
88  2007  diesel   pass  female         full     NaN
89  2006  diesel   fail    male         full     NaN
90  2008  petrol   fail  female         full     NaN
91  2007  diesel   fail    male         full     NaN
92  2006  diesel   pass  female         full     NaN
93  2005  diesel   fail    male         full     NaN
94  2006  petrol   fail    male         full     NaN
95  2008  diesel   pass    male         full     NaN
96  2015  diesel   fail  female         full     NaN
97  2006  diesel   fail    male         full     NaN
98  2008  diesel   fail    male         full     NaN
99  2007  petrol   fail    male         full     NaN

[100 rows x 6 columns]

In [54]:
# Define a function to map the mileage values.  I have calculated that the average mile for one year is and applied it for the newest model.  I have then increased it each year going backwards.  This will ensure that a 2002 car will have a higher mileage than a 2015.
def set_value(row_number, assigned_value):
    return np.random.randint(1,assigned_value[row_number])

#Create the dictionary
year_dictionary ={'2001' : 202335, '2002' : 188846, '2003' : 175357, "2004" : 161868, "2005" : 148379, "2006": 134890, "2007" : 121401, "2008" : 107912, "2009" :94423,"2010" :80934, "2011" :67445, "2012" :53956, "2013" :40467, "2014" :26978, "2015" :13489}

df5['mileage'] = df5['year'].apply(set_value, args =(year_dictionary, )) 



df5

    year    fuel status     sex licence_type  mileage
0   2013  petrol   pass  female         full     1069
1   2002  diesel   pass    male         full    16641
2   2002  diesel   fail    male         full   111941
3   2006  petrol   fail    male         full    46769
4   2014  diesel   pass    male         full    19609
5   2014  diesel   fail    male         full    23025
6   2006  diesel   fail    male         full   102862
7   2007  petrol   fail  female         full    83566
8   2007  diesel   pass    male         full    65822
9   2007  petrol   fail  female         full    18368
10  2005  petrol   fail    male         full    53326
11  2007  diesel   fail  female         full   109701
12  2007  diesel   pass    male         full    55940
13  2015  diesel   fail    male         full    12969
14  2007  diesel   fail  female         full    48910
15  2007  diesel   pass  female         full    85075
16  2006  diesel   fail    male      learner    78810
17  2014  diesel   pass  female         full    13167
18  2012  petrol   fail  female         full     3277
19  2004  diesel   pass    male         full   122252
20  2007  petrol   fail    male         full    76167
21  2012  diesel   fail    male         full     8283
22  2007  petrol   fail    male         full    64493
23  2006  diesel   fail    male         full    64233
24  2007  petrol   fail  female      learner    48549
25  2014  diesel   fail  female      learner    26594
26  2015  diesel   fail  female         full     3867
27  2006  petrol   fail    male         full    95585
28  2007  diesel   fail  female         full    60929
29  2007  diesel   fail    male         full    26840
..   ...     ...    ...     ...          ...      ...
70  2007  diesel   pass  female         full    81142
71  2005  diesel   fail    male         full    22491
72  2006  diesel   pass  female         full   103158
73  2007  petrol   pass    male         full    43148
74  2014  diesel   fail  female         full     1521
75  2012  diesel   fail    male         full    45596
76  2007  petrol   fail  female         full    81770
77  2006  diesel   fail    male         full    20291
78  2007  diesel   fail    male         full    19537
79  2003  diesel   fail    male         full    95003
80  2007  diesel   fail    male         full     8065
81  2007  diesel   pass    male         full    90643
82  2006  petrol   pass    male         full    68667
83  2007  diesel   fail    male         full    77713
84  2007  diesel   fail    male         full    40820
85  2005  diesel   fail    male         full    53845
86  2007  diesel   fail    male         full   115583
87  2004  petrol   fail  female         full    60055
88  2007  diesel   pass  female         full    87274
89  2006  diesel   fail    male         full    34745
90  2008  petrol   fail  female         full    97747
91  2007  diesel   fail    male         full    19232
92  2006  diesel   pass  female         full    91982
93  2005  diesel   fail    male         full   101175
94  2006  petrol   fail    male         full    43705
95  2008  diesel   pass    male         full    21652
96  2015  diesel   fail  female         full     8537
97  2006  diesel   fail    male         full    62466
98  2008  diesel   fail    male         full    35144
99  2007  petrol   fail    male         full    85894

[100 rows x 6 columns]

In [67]:
# Create a normal distribution function to show there are more diesel cars than petrol and diesel cars do more mileage than petrol.
def what_mileage(mile):
        if "fuel" == 'Petrol':
            return np.random.choice(miles, p=[0.211, 0.789])
        elif "fuel" == 'Diesel':
            return np.random.choice(miles, p=[0.166, 0.834])

df5['Mileage'] = df5["fuel"].apply(what_mileage)        
        
#df5['Mileage'] = df.apply(lambda row: what_mileage (row), axis=1)


df5

    year    fuel status     sex licence_type  mileage Mileage
0   2013  petrol   pass  female         full     1069    None
1   2002  diesel   pass    male         full    16641    None
2   2002  diesel   fail    male         full   111941    None
3   2006  petrol   fail    male         full    46769    None
4   2014  diesel   pass    male         full    19609    None
5   2014  diesel   fail    male         full    23025    None
6   2006  diesel   fail    male         full   102862    None
7   2007  petrol   fail  female         full    83566    None
8   2007  diesel   pass    male         full    65822    None
9   2007  petrol   fail  female         full    18368    None
10  2005  petrol   fail    male         full    53326    None
11  2007  diesel   fail  female         full   109701    None
12  2007  diesel   pass    male         full    55940    None
13  2015  diesel   fail    male         full    12969    None
14  2007  diesel   fail  female         full    48910    None
15  2007  diesel   pass  female         full    85075    None
16  2006  diesel   fail    male      learner    78810    None
17  2014  diesel   pass  female         full    13167    None
18  2012  petrol   fail  female         full     3277    None
19  2004  diesel   pass    male         full   122252    None
20  2007  petrol   fail    male         full    76167    None
21  2012  diesel   fail    male         full     8283    None
22  2007  petrol   fail    male         full    64493    None
23  2006  diesel   fail    male         full    64233    None
24  2007  petrol   fail  female      learner    48549    None
25  2014  diesel   fail  female      learner    26594    None
26  2015  diesel   fail  female         full     3867    None
27  2006  petrol   fail    male         full    95585    None
28  2007  diesel   fail  female         full    60929    None
29  2007  diesel   fail    male         full    26840    None
..   ...     ...    ...     ...          ...      ...     ...
70  2007  diesel   pass  female         full    81142    None
71  2005  diesel   fail    male         full    22491    None
72  2006  diesel   pass  female         full   103158    None
73  2007  petrol   pass    male         full    43148    None
74  2014  diesel   fail  female         full     1521    None
75  2012  diesel   fail    male         full    45596    None
76  2007  petrol   fail  female         full    81770    None
77  2006  diesel   fail    male         full    20291    None
78  2007  diesel   fail    male         full    19537    None
79  2003  diesel   fail    male         full    95003    None
80  2007  diesel   fail    male         full     8065    None
81  2007  diesel   pass    male         full    90643    None
82  2006  petrol   pass    male         full    68667    None
83  2007  diesel   fail    male         full    77713    None
84  2007  diesel   fail    male         full    40820    None
85  2005  diesel   fail    male         full    53845    None
86  2007  diesel   fail    male         full   115583    None
87  2004  petrol   fail  female         full    60055    None
88  2007  diesel   pass  female         full    87274    None
89  2006  diesel   fail    male         full    34745    None
90  2008  petrol   fail  female         full    97747    None
91  2007  diesel   fail    male         full    19232    None
92  2006  diesel   pass  female         full    91982    None
93  2005  diesel   fail    male         full   101175    None
94  2006  petrol   fail    male         full    43705    None
95  2008  diesel   pass    male         full    21652    None
96  2015  diesel   fail  female         full     8537    None
97  2006  diesel   fail    male         full    62466    None
98  2008  diesel   fail    male         full    35144    None
99  2007  petrol   fail    male         full    85894    None

[100 rows x 7 columns]